<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Weblips_Core::menu" title="BookClubMenu" sortOrder="10" >
                    <resource id="Weblips_Core::main" title="Configuration" sortOrder="0" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
