<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
            <add id="Weblips_Logo::first_level"
                title="BookClub" 
                translate="title"
                module="Weblips_Logo" 
                sortOrder="10"
                resource="Weblips_Logo::first_level" /> 
            <add id="Weblips_Logo::second_level"
                title="edit menu admin"
                translate="title"
                module="Weblips_Logo"
                sortOrder="0"
                parent="Weblips_Logo::first_level"
                resource="Weblips_Logo::second_level" />
            <add id="Weblips_Logo::three_level"
                title="Level 3"
                translate="title"
                module="Weblips_Logo"
                sortOrder="0"
                action="bookclub/bookclub"
                parent="Weblips_Logo::second_level"
                resource="Weblips_Logo::three_level" />
    </menu>
</config>